/* You can add global styles to this file, and also import other style files */
@import 'tachyons';
@import './app/core/theme/colors';

body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.bg-primary {
  background: $primary-color;
}

.primary {
  color: $primary-color;
}

.bg-secondary {
  background: $secondary-color;
}

.secondary {
  color: $secondary-color;
}

.bg-gradient {
  background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00);
  background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.shadow {
  box-shadow: 0px 10px 7px -5px rgba(0, 0, 0, 0.3), 0px 8px 10px 4px rgba(0, 0, 0, 0.15);
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}
